
{% extends 'home/base.html' %}
{% load static %}

{% block title  %}  We all cook   {% endblock %}

{% block styles %}    {% endblock %}


{% block body  %}
		<h1>LOGO</h1>
		<p> Premier site de patisserie en France ! </p>
	<div class="bg"></div>
		<div class="bg-text">   <h1> Cynthia  </h1>  

		<h2> Patissière | Blogueuse | Influenceuse </h2>
	</div>


	<table cellpadding="100">
		<tr>
			<th></th>
			<th>		
		Et quoniam apud eos ut in capite mundi morborum acerbitates celsius dominantur, ad quos vel sedandos omnis professio medendi torpescit, excogitatum est adminiculum sospitale nequi amicum perferentem similia videat, additumque est cautionibus paucis remedium aliud satis validum, ut famulos percontatum missos quem ad modum valeant noti hac aegritudine colligati, non ante recipiant domum quam lavacro purgaverint corpus. ita etiam alienis oculis visa metuitur labes.
			</th>
			<th></th>
		</tr>
	</table>




	<div class="parallax2"></div>


	<table cellpadding="100">
		<tr>
			<th></th>
			<th>		
		Et quoniam apud eos ut in capite mundi morborum acerbitates celsius dominantur, ad quos vel sedandos omnis professio medendi torpescit, excogitatum est adminiculum sospitale nequi amicum perferentem similia videat, additumque est cautionibus paucis remedium aliud satis validum, ut famulos percontatum missos quem ad modum valeant noti hac aegritudine colligati, non ante recipiant domum quam lavacro purgaverint corpus. ita etiam alienis oculis visa metuitur labes.
			</th>
			<th></th>
		</tr>
	</table>

	<div style="position:relative; height:100%">
 		<div class="bg3"></div>
   		<div style="position:absolute;top:60px; left:350px; width:600px; height:1000px; z-index:2;font-size:200%;color:black;">



      
      			<table>
      		<tr> <th> </th>   <th > <p> Follow me </p> </th>  <th> </th> </tr>
    		<tr>
    			<th col>
    			<a href="https://www.facebook.com/pages/category/Personal-Blog/Weallcook-2038435783065308/" target="_blank">
    			<img class="fit-picture"src="../static/WAC/images/fb.png"alt="insta">
    			</a>
    			</th>


    			<th></th>
    			<th col>
    			<a href="https://www.instagram.com/weallcook/" target="_blank">
    			<img class="fit-picture2"src="../static/WAC/images/insta.png"alt="insta">
    			</a>
    			</th>



    		</tr>
    	</table>




    	</div> 
    
</div>
{% endblock %}



